{% extends "base.html" %}

{% block content %}
<div class="d-flex justify-content-between align-items-center mb-4">
    <h2 style="color: #495057; font-weight: normal; font-size: 1.5rem; text-transform: uppercase; margin-bottom: 0;">
        Program Praktyki (Zał. 2)</h2>
    <span class="badge bg-secondary">Dokument Informacyjny</span>
</div>

<div class="card shadow-sm border-0 p-4">
    <h4 class="text-center fw-bold mb-4">PROGRAM PRAKTYKI ZAWODOWEJ</h4>

    <h5 class="fw-bold mt-3">A. Etap pierwszy – rozpoczęcie praktyki</h5>
    <ul>
        <li>Czynności organizacyjne, szkolenie BHP i ppoż.</li>
        <li>Zapoznanie się z zakresem działania zakładu pracy ze szczególnym uwzględnieniem stanowisk informatycznych.
        </li>
        <li>Zapoznanie z projektami realizowanymi przez firmę, stosowanymi technologiami informatycznymi z podkreśleniem
            narzędzi softwareowych i sieci komputerowych.</li>
    </ul>

    <h5 class="fw-bold mt-4">B. Etap drugi</h5>
    <p>Praca na ostatecznym stanowisku pracy, wykonywanie prac i projektów informatycznych tak aby osiągnąć wymagane
        efekty uczenia się m.in.:</p>
    <ul>
        <li>Znajomość technologii, narzędzi, metod oraz sprzętu stosowanego w IT.</li>
        <li>Rozwiązywanie praktycznych problemów informatycznych w środowisku branżowym.</li>
        <li>Opracowywanie dokumentacji technicznej i praca w zespole.</li>
    </ul>
    <p class="mt-2 text-primary fw-bold">Planowany czas realizacji praktyki: 6 miesięcy tj. 120 dni (960 godz.).</p>

    <h5 class="fw-bold mt-4">C. Etap trzeci - zakończenie praktyki</h5>
    <ul>
        <li>W trakcie praktyki student prowadzi „Dzienniczek praktyki”. Wpisy potwierdza zakładowy opiekun (ZOPZ).</li>
        <li>Na „Karcie praktyki” kierownik potwierdza odbycie praktyki, a opiekun wystawia ocenę.</li>
        <li>ZOPZ wystawia potwierdzenie osiągnięcia efektów uczenia się (Zał. 4).</li>
    </ul>
</div>
{% endblock %}